<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text>
          <h1>Inicia sesión</h1>
        </ion-text>
        <div class="login-box">
          <ion-input type="username" label="Nombre de usuario" 
          labelPlacement="floating" fill="outline" 
          placeholder="Ingrese su nombre de usuario">
          </ion-input>
          <ion-input type="password" label="Nombre de usuario" 
          labelPlacement="floating" fill="outline" 
          placeholder="Ingrese su contraseña">
          </ion-input>
          <ion-button>Ingresar</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>RegistrAPP</ion-title>
  </ion-toolbar>
</ion-footer>