
.login-box {
  max-width: 360px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  border: 1px solid;
  border-radius: 1rem;
  padding: 1rem;
  overflow: hidden;
  margin: 4rem 0;
}

.login-input {
  margin-bottom: 1rem;
}