<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      RegistrAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">RegistrAPP</ion-title>
      
    </ion-toolbar>
  </ion-header>
  
  <div class="container ion-padding">
    <h1 class="ion-text-center">Bienvenido {{ username }}</h1>
    <ion-list class="rounded">
      <ion-item>
        <p>Usuario</p>
        <p class="ion-text-end">{{ username }}</p>
      </ion-item>
    </ion-list>

    <ion-button>logout</ion-button>
  </div>
</ion-content>